.xxxk_top img {
    height: 70px;
    margin-top: 0px;
}

.cmn_search_box {
    margin-left: 70px;
}

    .cmn_search_box .border {
        border: 1px solid rgb(38, 142, 133);
        border-radius: 0px;
    }

        .cmn_search_box .border input[type='submit'] {
            background-color: rgb(38, 142, 133);
        }

            .cmn_search_box .border input[type='submit']:hover {
                background-color: rgb(38, 142, 133);
            }

.hr-wrap {
    border-bottom: 1px solid rgb(38, 142, 133);
    background: rgb(38, 142, 133);
}

.home_menu {
    border-bottom: 2px solid rgb(38, 142, 133);
}

    .home_menu .feilei {
        font-size: 16px;
        background-color: rgb(38, 142, 133);
        color: #fff;
        border-radius: 0px 0px 0px 0px;
    }

.nav_bg, .nav li.over a, .nav li a, .nav #conAll0.over a {
    background: rgb(38, 142, 133);
}

.nav li a {
    display: block;
    padding: 0px 25px;
}

.j_menu .hottip {
    right: -3px;
    top: 5px;
}

.hottip {
    right: 16px;
    top: 5px;
}

.nav li a:Hover, .nav li.over a, .nav #conAll0:hover a:hover, .nav #conz0:hover a:hover {
    background-color: #0095bb;
    color: #fff;
}

.nav #conAll0 a span {
    right: 12px;
    top: 14px;
}

.home_menu .j_menu li.home a {
    color: #fff
}

.nav #conAll0.over a, .nav #conz0.over a, .nav #conAll0:hover a, .nav #conz0:hover a {
    background-color: #0095bb;
    ;
    color: #fff
}

.cmn_top_r .inner a.upload {
}

.camTitle {
    background-color: #f9f9f9;
}

.camNavA a {
    font-size: 14px;
    color: #2d2d2d
}

    .camNavA a.selected {
        background: #fff;
        border-top: 3px solid rgb(38, 142, 133);
        font-weight: bold;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5
    }

.camTitles {
    background-color: #f5f5f5;
}

.camNavAs a {
    font-size: 16px;
    color: #2d2d2d
}

    .camNavAs a.selected {
        font-weight: bold;
        border-top: 3px solid rgb(38, 142, 133);
        background: #fff;
    }

.cate {
    background: #5c5c5c;
    border-top: solid 1px rgb(38, 142, 133);
}

    .cate li:hover .category-title {
        background: #fff
    }

        .cate li:hover .category-title a {
            color: #ff6600
        }

    .cate .category-sub {
        border-color: rgb(38, 142, 133);
        filter: alpha(opacity=100); /*IE滤镜，透明度50%*/
        -moz-opacity: 1; /*Firefox私有，透明度50%*/
        opacity: 1; /*其他，透明度50%*/
    }

.shop1 a.searchbtn0 {
    background-color: #ff491f;
}

    .shop1 a.searchbtn0:hover {
        background-color: #e5411c;
    }

footer, .foot_nav_bg {
    background: #111111;
}

.camZpSmall .camZpBox dd span, .camZpSmall .camZpBox dd a.selected, .camZpBox dd span, .camZpBox dd a.selected, .farea dd span, .farea dd a.selected, .fareas dd span, .fareas dd a.selected {
    color: #fff;
    background-color: rgb(38, 142, 133);
}

.farea dt, .fareas dt {
    color: #666
}

.h-list #conAll, .h-list #conAll2, .dorpmenu2 {
    border: 1px solid rgb(38, 142, 133);
    border-radius: 0px 0px 0px 0px;
}

.catesBox a:hover, .catesBox a.cur {
    background: rgb(38, 142, 133);
    border: 1px solid rgb(38, 142, 133);
}

.bannerbox .searchbox .searchbtn1 {
    background-color: #189ae5;
}

    .bannerbox .searchbox .searchbtn1:hover {
        background-color: #0B8DD6;
    }

body {
    background-color: #fff;
}

.line {
    padding: 0px 10px 0px 5px;
}

.dongtaidiv {
    background-color: #f5f5f5;
    width: 100%;
    padding-top: 10px;
}

.dongtai {
    background-color: #fff;
    line-height: 50px;
    font-size: 14px;
    height: 50px;
    overflow: hidden;
    width: 1200px;
    margin: 0px auto 10px auto;
}

    .dongtai .text-l {
        font-size: 16px;
        color: #4c4f53;
        font-weight: 700;
        margin: 0 20px;
    }

    .dongtai .site-icon {
        font-size: 16px;
        margin-right: 14px;
        background: url(static/image/notice.png) no-repeat left center;
        width: 23px;
    }

    .dongtai .text-r {
        padding-top: 10px;
        width: 88%
    }

    .dongtai .dynamic-box {
        height: 30px;
        overflow: hidden
    }

    .dongtai .dynamic-list {
        height: 30px;
        line-height: 30px;
        overflow: hidden
    }

    .dongtai .dynamic-name {
        color: #4c4f53;
        font-size: 14px;
        float: left;
        width: 32%
    }

    .dongtai .link {
        color: #4c4f53;
        margin: 0 4px
    }

        .dongtai .link:hover {
            text-decoration: underline;
            color: #ff0000
        }

    .dongtai .t-color {
        color: #2c9ff7
    }

.main_bg, .cate {
    background: #fff
}

.imgline {
    margin: 0px auto;
    width: 1200px;
    height: 50px;
    overflow: hidden;
}

.Al, .Ar {
    width: 595px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    border-top: 1px solid #e4e4e4;
    background: #f7f7f7;
    overflow: hidden;
}

    .Al a font, .Ar a font {
        color: #f25125;
        font-size: 22px;
        margin-top: -8px;
    }
