
@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid bg-success" style="z-index: 3; opacity: 0.95; position: fixed;">
        <div class="row" style="height: 70px">
            <div class="col-md-6 offset-md-3 bg-warning">.col-md-3 .offset-md-3</div>
            @*<div class="col-md-3 bg-warning">.col-md-3 .offset-md-3</div>*@
        </div>
    </div>
    <div class="container">

        <div class="container-fluid" style="min-height:1000px">
            <div class="row">
                <div class="col-md-1 bg-warning"></div>
                <div class="col-md-10 bg-success">
                    <h1>Multiple Code Lines</h1>
                    <p>For multiple lines of code, use the pre element:</p>
                    <pre>
                    Text in a pre element
                    is displayed in a fixed-width
                    font, and it preserves
                    both      spaces and
                    line breaks.
                    </pre>
                </div>
                <div class="col-md-1 bg-warning"></div>
            </div>
        </div>

    </div>
</body>
</html>
