@{
    ViewData["Title"] = "Home Page";
}
<style>
    .hidden1 {
        display: none;
    }

    a {
        text-decoration: none;
        color: #494949;
    }

        a:hover {
            text-decoration: none;
            color: red
        }

    li {
        list-style-type: none;
        font-size: 14px;
        font-family: "microsoft yahei";
    }

    .col-sm-4 ul {
        padding-left: 0px;
        margin-top: 1rem;
    }

    #home ul {
        padding-left: 0px;
        margin-top: 1rem;
    }

    .timespan {
        position: absolute;
        right: 3%;
    }

    .test {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 146px;
        line-height: 20px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .fixedmin {
        min-height: 285px;
    }

    .part-line {
        width: 1px;
        height: 25px;
        background: #e1e1e1;
        margin-top: 8px;
    }

    .current {
        color: #00a1e9;
    }

    .homeli {
        float: left;
        margin-left: 10px;
    }

    .bigmig {
        width: 146px;
        height: 206px;
        border: 1px solid #e5e5e5;
    }

    .docx {
        position: relative;
        right: 25px;
        bottom: -90px;
    }
</style>


<div class="row clearfix">
    <div class="col-md-6 column">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand"> 已更新 <font class="countNewOfToday" style="color:red">123</font> 份精品资料，每天都有新内容！</span>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-6 column">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand">  共有 <font class="docNum" style="color:red">123</font> 份学习资源，供您参阅学习！</span>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="" style="position: relative; ">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">最新发布</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">最热资源</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">最多浏览</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane bg-light active" style=" min-height: 530px;">
            <ul>
                <li class="homeli">
                    <a href="p-27278063.html">
                        <img class="bigmig" src="~/static/picture/00325c28ba.gif" />
                        <span class="docx"><img src="img/word.jpg" /></span>
                    </a>
                    <a href="p-27278063.html" class="test">事业单位招聘考试复习资料-定海事业单位招聘2021年考试真题及答案解析打印</a>
                </li>
                <li class="homeli">
                    <a href="p-27278063.html">
                        <img class="bigmig" src="~/static/picture/00325c28ba.gif" />
                        <span class="docx"><img src="img/word.jpg" /></span>
                    </a>
                    <a href="p-27278063.html" class="test">事业单位招聘考试复习资料-定海事业单位招聘2021年考试真题及答案解析打印</a>
                </li>
                <li class="homeli">
                    <a href="p-27278063.html">
                        <img class="bigmig" src="~/static/picture/00325c28ba.gif" />
                        <span class="docx"><img src="img/word.jpg" /></span>
                    </a>
                    <a href="p-27278063.html" class="test">事业单位招聘考试复习资料-定海事业单位招聘2021年考试真题及答案解析打印</a>
                </li>
                <li style="float:left; margin-left: 16px;">
                    <a href="p-27278063.html">
                        <img class="bigmig" src="~/static/picture/00325c28ba.gif" />
                        <span class="docx"><img src="img/word.jpg" /></span>
                    </a>
                    <a href="p-27278063.html" class="test">事业单位招聘考试复习资料-定海事业单位招聘2021年考试真题及答案解析打印</a>
                </li>
                <li class="homeli">
                    <a href="p-27278063.html">
                        <img class="bigmig" src="~/static/picture/00325c28ba.gif" />
                        <span class="docx"><img src="img/word.jpg" /></span>
                    </a>
                    <a href="p-27278063.html" class="test">事业单位招聘考试复习资料-定海事业单位招聘2021年考试真题及答案解析打印</a>
                </li>
                <li class="homeli">
                    <a href="p-27278063.html">
                        <img class="bigmig" src="~/static/picture/00325c28ba.gif" />
                        <span class="docx"><img src="img/word.jpg" /></span>
                    </a>
                    <a href="p-27278063.html" class="test">事业单位招聘考试复习资料-定海事业单位招聘2021年考试真题及答案解析打印</a>
                </li>
                <li class="homeli">
                    <a href="p-27278063.html">
                        <img class="bigmig" src="~/static/picture/00325c28ba.gif" />
                        <span class="docx"><img src="img/word.jpg" /></span>
                    </a>
                    <a href="p-27278063.html" class="test">事业单位招聘考试复习资料-定海事业单位招聘2021年考试真题及答案解析打印</a>
                </li>
            </ul>
        </div>
        <div id="menu1" class="container tab-pane bg-light" style=" min-height: 530px;">
            <br>
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu2" class="container tab-pane bg-light" style=" min-height: 530px;">
            <br>
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>
</div>
<div class="" style="margin-top: 1% ">
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <!-- Brand/logo -->
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item"><span class="nav-link text-dark font-weight-bold" style="font-size:16px">资源分类</span></li>
            <li class="sd01 nav-item" id="mm01" onmouseover="free_downH(this)"><a class="nav-link text-dark">办公文档</a></li>
            <li class="part-line"></li>
            <li class="sd02 nav-item" id="mm02" onmouseover="free_downH(this)"><a class="nav-link text-dark">教育</a></li>
            <li class="part-line"></li>
            <li class="sd02 nav-item" id="mm03" onmouseover="free_downH(this)"><a class="nav-link text-dark">医疗</a></li>
            <li class="part-line"></li>
            <li class="sd02 nav-item" id="mm04" onmouseover="free_downH(this)"><a class="nav-link text-dark">金融</a></li>
            <li class="part-line"></li>
            <li class="sd02 nav-item" id="mm05" onmouseover="free_downH(this)"><a class="nav-link text-dark">IT</a></li>
            <li class="nav-item"><a class="nav-link text-dark font-weight-bold" style="font-size:16px">更多 》</a></li>
        </ul>
        @*<span class="font-weight-bold" style="margin-left:2%"> <a href="#">更多 》</a></span>*@
    </nav>

    <div class="bg-light">
        <div class="column">
            <ol><li></li></ol>
        </div>
        <div class="container fixedmin" id="cc01">
            <div id="divHeight" class="row"></div>
        </div>
        <div class="container hidden1 fixedmin" id="cc02">
            <div class="row">
                <div class="col-sm-4" style="background-color:lavender;">
                    <ul class="row small">
                        <li>
                            <span><img src="img/word.jpg">&nbsp;&nbsp;<a>年终总结和述职报告汇编</a></span>
                            <span class="timespan">2019-12-20 00:12</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-3</div>
                <div class="col-sm-4" style="background-color:lavender;">.col-sm-3</div>
            </div>
        </div>
        <div class="container hidden1 fixedmin" id="cc03">
            <div class="row">
                <div class="col-sm-4" style="background-color:lavender;">.col-sm-3</div>
                <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-3</div>
                <div class="col-sm-4" style="background-color:lavender;">.col-sm-3</div>
            </div>
        </div>
        <div class="container hidden1 fixedmin" id="cc04">
            <div class="row">
                <div class="col-sm-4" style="background-color:lavender;">.col-sm-3</div>
                <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-3</div>
                <div class="col-sm-4" style="background-color:lavender;">.col-sm-3</div>
            </div>
        </div>
        <div class="container hidden1 fixedmin" id="cc05">
            <div class="row">
                <div class="col-sm-4" style="background-color:lavender;">.col-sm-3</div>
                <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-3</div>
                <div class="col-sm-4" style="background-color:lavender;">.col-sm-3</div>
            </div>
        </div>
    </div>
</div>
<div class="" style="margin-top: 1%">
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <form class="form-inline">
            <span class="font-weight-bold">免费资源</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="freeinput" class="form-control" type="text" placeholder="Search">&nbsp;
            <button class="btn btn-info" type="button" onclick="freesearch()">Search</button>
        </form>
        <span class="font-weight-bold" style="margin-left:2%"> <a href="#">更多 》</a></span>
    </nav>
    <div class="container bg-light fixedmin">
        <div id="freebody" class="row"></div>
    </div>
</div>

<script>
    var html = "";
    $(document).ready(function () {
        loadData();
    });

    //加载页面数据
    function loadData() {
        $.ajax({
            url: "/Home/GetData",
            type: "Post",
            data: {
                code: 1
            },
            dataType: "json",
            //beforeSend: function () {
            //    alert(0);
            //},
            success: function (data) {
                getIntype(data);
                console.log(data);
                //window.location.href = data.href;
            }
        });
    }
    //html填充
    function getIntype(data) {
        html = '<div class="col-sm-4"><ul>';
        data.forEach(myFunction);
        html += '</ul></div>';
        $("#divHeight").append(html);
        $("#freebody").append(html);
    }
    //遍历
    function myFunction(value, index, array) {
        if (index > 0 && index % 10 == 0) {
            html += '</ul></div>';
            html += '<div class="col-sm-4"><ul>';
        };
        html += '<li style="line-height:25px;"><img src="img/word.jpg" />&nbsp;&nbsp;<a href="/Home/Details">'
             + value.title + '<span class="timespan">' + value.releaseDate + '</span></a></li>';
    }
    //免费搜索按钮
    function freesearch() {
        var cha = $("#freeinput").val();
        console.info(cha);
    }

    //tab切换
    function free_downH(obj) {
        console.log("123");
        console.log(obj);
        var freecindex = $(obj).index() / 2;
        $(obj).addClass('current').siblings('li').removeClass('current');
        //$(obj).parents('.currency-con').find('.currency-box').eq(freecindex).show().siblings('.currency-box').hide();
    }

</script>
<script type="text/javascript">
    function scrollDoor() {
    }
    scrollDoor.prototype = {
        sd: function (menus, divs, openClass, closeClass) {
            var _this = this;
            if (menus.length != divs.length) {
                alert("菜单层数量和内容层数量不一样!");
                return false;
            }
            for (var i = 0; i < menus.length; i++) {
                _this.$(menus[i]).value = i;
                _this.$(menus[i]).onmouseover = function () {

                    for (var j = 0; j < menus.length; j++) {
                        _this.$(menus[j]).className = closeClass;
                        _this.$(divs[j]).style.display = "none";
                    }
                    _this.$(menus[this.value]).className = openClass;
                    _this.$(divs[this.value]).style.display = "block";
                }
            }
        },
        $: function (oid) {
            if (typeof (oid) == "string")
                return document.getElementById(oid);
            return oid;
        }
    }
    window.onload = function () {
        var SDmodel = new scrollDoor();
        SDmodel.sd(["mm01", "mm02", "mm03", "mm04", "mm05"], ["cc01", "cc02", "cc03", "cc04", "cc05"], "sd01", "sd02");
    }
</script>

